.Card-container{
    width: 300px;
    /* height: 500px; */
    border:1px #868686 solid;
    border-radius: 6px;
    overflow: hidden;
    cursor: default;
}
.Card-container img{
    width: 300px;
    height: 200px;
}
.Card-container:hover{
    transform:translateY(-2%) ;
}